@media all and (max-width: 1410px){
    .wrapper{
        padding: 0 60px;
    }
}
@media all and (max-width: 1290px){
    .wrapper{
        padding: 0 30px;
    }
}
@media all and (max-width: 1230px){
    .main .cards__container .card{
        flex-basis: calc(33.33% - 30px);
    }
}
@media all and (max-width: 950px){
    .main .cards__container .card{
        flex-basis: calc(50% - 30px);
        min-width: 230px;
    }
    .main .cards__container .card .carousel.hasmini{
        flex-direction: column-reverse;
    }
    .main .cards__container .card .carousel.hasmini .mini{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main .cards__container .card .carousel.hasmini .mini .item:not(:first-child){
        margin-top: 0;
    }
    .main .cards__container .card .carousel.hasmini .mini .item:nth-child(2){
        margin: 0 10px 0 10px;
    }
    .main .cards__container .card .carousel.hasmini .slider__container .slider{
        height: fit-content;
    }
    .main .cards__container .card .carousel.hasmini .slider__container .slider .dots{
        display: none;
    }
}
@media all and (max-width: 720px){
    .header .left, .header .right .lang{
        display: none;
    }
    .header .right{
        width: 100%;
        justify-content: space-between;
    }
    .header .right .menu__opener{
        display: flex;
    }
    .header .right .cart{
        position: absolute;
        right: 30px;
    }
}
@media all and (max-width: 650px){
    .wrapper{
        padding: 0 10px;
    }
    .main .cards__container{
        justify-content: center;
        margin-left: 0;
    }
    .main .cards__container .card{
        margin-left: 0;
        flex-basis: calc(70%);
    }
}
@media all and (max-width: 480px){
    .header .right .cart{
        display: none;
    }
}
