@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 120px;
}

/*Header*/

.header{
    width: 100%;
    height: 80px;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header .left .logo{
    user-select: none;
    font-size: 24px;
    font-weight: 700;
}
.header .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.header .right .search__container{
    flex-basis: 215px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.header .right .search__container .search__results{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    display: flex;
    background: #fff;
    flex-direction: column;
    user-select: none;
    top: 40px;
    z-index: 999;
}
.header .right .search__container .search__results.noactive{
    display: none;
}
.header .right .search__container .search__results .result{
    background: #F8F8F8;
    padding-left: 20px;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    line-height: 40px;
}
.header .right .search__container .search__results .result.hide{
    display: none;
}
.header .right .search__container .search__results .result:hover{
    color: #3588E9;
}
.header .right .search__container .search{
    width: 100%;
    height: 35px;
    border-radius: 45px;
    border: 1px solid #000;
    padding: 8px 18px 8px 40px;
    font-size: 16px;
    transition: border-color 0.2s;
}
.header .right .search__container .search:focus{
    border-color: #D9D9D9;
}
.header .right .search__container .search::placeholder{
    color: #000;
    transition: 0.2s;
}
.header .right .search__container .search:focus::placeholder{
    transform: translateX(-80px);
    opacity: 0;
}
.header .right .search__container .search__icon{
    position: absolute;
    left: 18px;
}
.header .right .cart{
    width: 130px;
    height: 45px;
    padding: 12px 22px;
    border-radius: 45px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
    position: relative;
}
.header .right .cart .cart__size{
    position: relative;
    margin-right: 10px;
}
.header .right .cart .cart__size .counter{
    position: absolute;
    bottom: -2px;
    right: -4px;
    font-size: 14px;
    color: #fff;
    user-select: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3588E9;
}
.header .right .cart .total__price{
    font-size: 18px;
    font-weight: 700;
}
.header .right .cart .total__price:after{
    content: "р";
}
.header .right .menu__opener{
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.header .right .menu__opener .bar{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000;
}
.header .right .lang{
    flex-basis: 35px;
    display: flex;
    align-items: center;
}
.header .right .lang .fake__select{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.header .right .lang .fake__select .fake__arrow{
    position: absolute;
    top: 5px;
    right: -15px;
}
.header .right .lang .fake__select .fake__what{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 5px;
    list-style: none;
    position: absolute;
    bottom: -50px;
    left: -6px;
    display: none;
}
.header .right .lang .fake__select .fake__what .fake__option{
    transition: color 0.2s;
}
.header .right .lang .fake__select .fake__what .fake__option:hover{
    color: #3588E9;
}

/*Main*/

.main{
    width: 100%;
    background: #EEEEEE;
    min-height: calc(100vh - 80px);
    padding-top: 30px;
}
.main .cards__container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.main .cards__container .card{
    flex-basis: calc(25% - 30px);
    min-width: 260px;
    height: 390px;
    margin-bottom: 60px;
    margin-left: 30px;
    border: 1px solid #D9D9D9;
    padding: 20px 30px 20px 15px; 
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .cards__container .card .carousel{
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    user-select: none;
    position: relative;
}
.main .cards__container .card .carousel .mini{
    width: 60px;
    flex-shrink: 0;
}
.main .cards__container .card .carousel .mini .item{
    width: 60px;
    height: 60px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .cards__container .card .carousel .mini .item.current__item{
    border-color: #3588E9;
}
.main .cards__container .card .carousel .mini .item .item__img{
    width: 75%;
    display: block;
    pointer-events: none;
}
.main .cards__container .card .carousel .mini .item:not(:first-child){
    margin-top: 10px;
}
.main .cards__container .card .carousel .slider__container{
    display: flex;
    justify-content: center;
}
.main .cards__container .card .carousel .slider__container .slider{
    height: 200px;
    flex-basis: 150px;
    flex-shrink: 0;
    display: flex;
    overflow-x: hidden;
    position: relative;
}
.main .cards__container .card .carousel.nomini{
    justify-content: center; 
    margin-left: 15px;
}
.main .cards__container .card .carousel.nomini .mini{
    display: none;
}
.main .cards__container .card .carousel .slider__container .slider .dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}
.main .cards__container .card .carousel .slider__container .slider .dots .dot{
    width: 10px;
    height: 10px;
    background: #E0E0E0;
    border-radius: 50%;
    cursor: pointer;
}
.main .cards__container .card .carousel .slider__container .slider .dots .dot.current__dot{
    background: #590BFF;
}
.main .cards__container .card .carousel .slider__container .slider .dots .dot:not(:first-child){
    margin-left: 10px;
}
.main .cards__container .card .carousel .slider__container .slider .slide{
    height: 175px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
.main .cards__container .card .carousel .slider__container .slider .slide .slide__img{
    width: 100%;
}
.main .cards__container .card .name__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main .cards__container .card .name__price .name{
    font-size: 15px;
    max-width: 145px;
}
.main .cards__container .card .name__price .price{
    font-size: 18px;
    font-weight: 700;
}
.main .cards__container .card .name__price .price:after{
    content: "р";
}
.main .cards__container .card .name__price.have-discount .price{
    margin-top: 15px;
}
.main .cards__container .card .name__price .discount{
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    opacity: 0;
}
.main .cards__container .card .checkout{
    width: 100%;
    height: 45px;
    border-radius: 2px;
    user-select: none;
    position: relative;
}
.main .cards__container .card .checkout .start{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3588E9;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
}
.main .cards__container .card .checkout .start:hover{
    background: #1966C1;
}
.main .cards__container .card .checkout .start:active{
    background: #135097;
}
.main .cards__container .card .checkout .del__add,
.main .cards__container .card .checkout .place__order{
    display: none;
}
.main .cards__container .card .checkout.clicked{
    display: flex;
    align-items: center;
    background: transparent;
    color: #000;
    cursor: auto;
}
.main .cards__container .card .checkout.clicked .start{
    display: none;
}
.main .cards__container .card .checkout.clicked .del__add,
.main .cards__container .card .checkout.clicked .place__order{
    flex-basis: 50%;
    height: 100%;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@font-face{ 
    font-family: "Calibri"; 
    src: url("8277.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.main .cards__container .card .checkout.clicked .del__add .add{
    position: relative;
}
.main .cards__container .card .checkout.clicked .del__add .add .oversize__msg{
    position: absolute;
    top: 25px;
    left: calc(50% - 2px);
    transform: translate(-50%, 0);
    box-sizing: content-box;
    padding: 15px 10px;
    background: red;
    color: #fff;
    animation: show 1s linear forwards;
    z-index: 999;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.main .cards__container .card .checkout.clicked .del__add .add .oversize__msg:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 15px;
    height: 15px;
    transform: rotate(45deg) translate(-50%, 0);
    background: red;
}
.main .cards__container .card .checkout.clicked .del__add .del,
.main .cards__container .card .checkout.clicked .del__add .add{
    cursor: pointer;
    transition: opacity 0.2s;
}
.main .cards__container .card .checkout.clicked .del__add .del:hover,
.main .cards__container .card .checkout.clicked .del__add .add:hover{
    opacity: 0.7;
}
.main .cards__container .card .checkout.clicked .del__add .del:active,
.main .cards__container .card .checkout.clicked .del__add .add:active{
    opacity: 0.9;
}
.main .cards__container .card .checkout.clicked .del__add .size{
    flex-basis: 50px;
    display: flex;
    justify-content: center;
}
.main .cards__container .card .checkout.clicked .del__add .size .loading{
    display: none;
}
.main .cards__container .card .checkout.clicked .del__add .size.refresh .loading{
    display: block;
    animation: refresh 1s infinite linear;
}
@keyframes refresh{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(540deg);
    }
}
.main .cards__container .card .checkout.clicked .del__add .size.refresh .num{
    display: none;
}
.main .cards__container .card .checkout.clicked .del__add .size .num{
    font-family: "Calibri";
    font-size: 18px;
    font-weight: 400;
    margin-top: -3px;
}
.main .cards__container .card .checkout.clicked .del__add .size .num:after{
    content: "шт.";
}
.main .cards__container .card .checkout.clicked .place__order{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.2s;
}
.main .cards__container .card .checkout.clicked .place__order:hover{
    color: #3588E9;
}
.main .cards__container .card .checkout.clicked .place__order:active{
    color: #135097;
}

